table {
  width: 100%;

  thead {
    font-size: 1.5rem;
    text-align: left;
  }

  tbody {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 16px;

    tr {
      display: flex;

      .logo img {
        width: 120px;
        margin-right: 24px;
        border-radius: 12px;
      }
  
      .details {
        display: flex;
        flex-direction: column;
        line-height: 1.5rem;
  
        .owner {
          color: #c3fff8;
          font-weight: bold;
        }
      }
    }
  }
}
