table {
  width: 100%;

  thead {
    font-size: 2rem;
    text-align: left;
  }

  tbody {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 16px;

    .logo img {
      width: 120px;
      margin-right: 24px;
      border-radius: 12px;
    }

    .details {
      display: flex;
      flex-direction: column;
      line-height: 1.5rem;

      .owner {
        color: #c3fff8;
        font-weight: bold;
      }
    }
  }
}
